<div class="container">
	<button type="button" class="button-add btn btn-primary btn-md" ng-click="showForm()">Add Offer</button

	<div class="panel panel-default">
		<div class="panel-heading">Offers</div>
		<div class="panel-body">
			<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>#</th>
		        <th>Sender</th>
		        <th>Description</th>
		      </tr>
		    </thead>
				<tbody>
					 <tr ng-repeat="offer in offers">
						 <td>{{$index}}</td>
						 <td>{{offer.sender}}</td>
						 <td>{{offer.description}}</td>
					 </tr>

				 </tbody>
 		 </table>
		</div>
	</div>
</div>
