

<div class="container">

  <button type="button" class="button-add btn btn-primary btn-md" ng-click="showForm()">Add project</button


  <div class="panel panel-default">
    <div class="panel-heading">Projects</div>
    <div class="panel-body">
        <div class="well well-sm">
            <strong>Display</strong>
            <div class="btn-group">
                <a  id="grid" class="btn btn-default btn-sm"  ng-click="filterSelect('')">
                  <span class="glyphicon glyphicon-th"></span>
                  All
                </a>
                <a  id="list" class="btn btn-default btn-sm" ng-click="filterSelect('Open')">
                  <span class="glyphicon glyphicon-glass"></span>
                  Open
                </a>
                <a  id="grid" class="btn btn-default btn-sm"  ng-click="filterSelect('Affected')">
                  <span class="glyphicon glyphicon-play"></span>
                  Affected
                </a>
                <a  id="grid" class="btn btn-default btn-sm"  ng-click="filterSelect('Finished')">
                  <span class="glyphicon glyphicon-ok-circle"></span>
                  Done
                </a>

            </div>
        </div>
        <div id="products" class="row list-group">
            <div class="item  col-xs-4 col-lg-4" ng-repeat="project in projects  | filter:typeProject">
                <div class="thumbnail"> <!--http://placehold.it/400x250/000/fff-->
                    <img class="group list-group-image" src="{{project.id}}.jpg" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            {{project.description}}</h4>
                        <p class="group inner list-group-item-text">
                          {{project.expenses}}
                        </p>

                        <div class="row">
                          <br>
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                  <i class="glyphicon glyphicon-credit-card "></i>&nbsp;{{project.state}}
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" ng-click="viewOffers(project.id)" >View Offers</a>
                            </div>
                        </div>
                        <div class="group inner list-group-item-text">

                            <span class="label label-warning">
                              <i class="glyphicon glyphicon-time"></i>
                              {{formatDate(project.deadline)}}</span>
                        </div>
                        <br>
                        <div class="group inner list-group-item-text">
                          <span class="label label-info">
                            <i class="glyphicon glyphicon-user"></i>
                            affectedTo :{{project.affectedTo}}</span>
                        </div>
                    </div>
                </div>
            </div>


      </div>

    </div>
  </div>

</div>
